In [1]:
import pandas as pd

# 상권코드 merge

In [2]:
# 상권데이터
path0 = '/content/drive/MyDrive/머신러닝/ML_팀프로젝트/0911 원본 조합하기/상권합본.csv'
sg_code = pd.read_csv(path0)

In [3]:
# 결합용 대회데이터
path1 = '/content/drive/MyDrive/머신러닝/ML_팀프로젝트/0911 원본 조합하기/상권코드결합용_230911_한석.csv'
main_code = pd.read_csv(path1)

In [4]:
# 상권데이터 확인
sg_code.head(1)

,Unnamed: 0,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,...,남성 상주인구 수,여성 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,집객시설_수,법정동_코드
0,0,2022,4,A,골목상권,110001,이북5도청사,4305934.0,520427635.0,129126028.0,...,546.0,624.0,452.0,0.0,452.0,179890.0,77520.0,102371.0,12.0,11110182.0

In [5]:
# 결합용 대회데이터  => 확인

main_code.head(10)

   DATA_CRTR_YM            LT_UNQ_NO  TRDAR_CD  STDG_EMD_CD
0        202201  1111010100100030100         0     11110101
1        202201  1111010100100480000   2110011     11110101
2        202201  1111010100100590001   2110011     11110101
3        202201  1111010100100590005   2110011     11110101
4        202201  1111010100100690000   2110014     11110101
5        202201  1111010100100720000   2110014     11110101
6        202201  1111010100100750000   2110014     11110101
7        202201  1111010100100940001   2110014     11110101
8        202201  1111010100100940002   2110014     11110101
9        202201  1111010100100970000   2110014     11110101

In [6]:
# 결합용 대회데이터 => 월을 기준으로 '분기' 피처 추가

def to_quarter( x ):
    if x in ['01', '02', '03']:
        return 1
    elif x in ['04', '05', '06']:
        return 2
    elif x in ['07', '08', '09']:
        return 3
    else:
        return 4
    pass

main_code['기준_분기_코드'] = main_code['DATA_CRTR_YM'].apply(lambda x : to_quarter(str(x)[-2:]))

In [7]:
# 상권데이터 => [상권_코드] 피처 앞에 '2'를 추가(년도마다 맨 앞자리 숫자가 다르기 때문 - 현 상권데이터 상에는 맨 앞자리 숫자가 빠진 상태)

sg_code['상권_코드'] = '2' + sg_code['상권_코드'].astype(str)
sg_code['상권_코드'].astype(int)

0       2110001
1       2110002
2       2110003
3       2110004
4       2110005
         ...
6679    2130297
6680    2130008
6681    2130300
6682    2130297
6683    2130008
Name: 상권_코드, Length: 6684, dtype: int64

In [8]:
# 결합용 대회 데이터 => 결합 이전 피처명 통일

main_code = main_code.rename(columns={'TRDAR_CD': '상권_코드'})

In [9]:
main_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1156040 entries, 0 to 1156039
Data columns (total 5 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DATA_CRTR_YM  1156040 non-null  int64
 1   LT_UNQ_NO     1156040 non-null  int64
 2   상권_코드         1156040 non-null  int64
 3   STDG_EMD_CD   1156040 non-null  int64
 4   기준_분기_코드      1156040 non-null  int64
dtypes: int64(5)
memory usage: 44.1 MB

In [10]:
sg_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 24 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   6684 non-null   int64
 1   기준_년_코드      6684 non-null   int64
 2   기준_분기_코드     6684 non-null   int64
 3   상권_구분_코드     6684 non-null   object
 4   상권_구분_코드_명   6684 non-null   object
 5   상권_코드        6684 non-null   object
 6   상권_코드_명      6684 non-null   object
 7   월_평균_소득_금액   6480 non-null   float64
 8   지출_총금액       6388 non-null   float64
 9   식료품_지출_총금액   6388 non-null   float64
 10  상권_변화_지표_명   6672 non-null   object
 11  운영_영업_개월_평균  6672 non-null   float64
 12  폐업_영업_개월_평균  6672 non-null   float64
 13  총 상주인구 수     6529 non-null   float64
 14  남성 상주인구 수    6529 non-null   float64
 15  여성 상주인구 수    6529 non-null   float64
 16  총 가구 수       6529 non-null   float64
 17  아파트 가구 수     6529 non-null   float64
 18  비 아파트 가구 수   6529 non-null   float64
 19  총_생활인구_수     6674 non-null   float64
 20  남성_생활인구_수    6674 non-null   float64
 21  여성_생활인구_수    6674 non-null   float64
 22  집객시설_수       6300 non-null   float64
 23  법정동_코드       6592 non-null   float64
dtypes: float64(16), int64(3), object(5)
memory usage: 1.2+ MB

In [11]:
sg_code.drop(['Unnamed: 0'], axis=1, inplace=True)
sg_code.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      6684 non-null   int64
 1   기준_분기_코드     6684 non-null   int64
 2   상권_구분_코드     6684 non-null   object
 3   상권_구분_코드_명   6684 non-null   object
 4   상권_코드        6684 non-null   object
 5   상권_코드_명      6684 non-null   object
 6   월_평균_소득_금액   6480 non-null   float64
 7   지출_총금액       6388 non-null   float64
 8   식료품_지출_총금액   6388 non-null   float64
 9   상권_변화_지표_명   6672 non-null   object
 10  운영_영업_개월_평균  6672 non-null   float64
 11  폐업_영업_개월_평균  6672 non-null   float64
 12  총 상주인구 수     6529 non-null   float64
 13  남성 상주인구 수    6529 non-null   float64
 14  여성 상주인구 수    6529 non-null   float64
 15  총 가구 수       6529 non-null   float64
 16  아파트 가구 수     6529 non-null   float64
 17  비 아파트 가구 수   6529 non-null   float64
 18  총_생활인구_수     6674 non-null   float64
 19  남성_생활인구_수    6674 non-null   float64
 20  여성_생활인구_수    6674 non-null   float64
 21  집객시설_수       6300 non-null   float64
 22  법정동_코드       6592 non-null   float64
dtypes: float64(16), int64(2), object(5)
memory usage: 1.2+ MB

In [12]:
# 결합 이전 데이터 타입 통일

main_code['상권_코드'] = main_code['상권_코드'].astype(int)
main_code['기준_분기_코드'] = main_code['기준_분기_코드'].astype(int)
sg_code['상권_코드'] = sg_code['상권_코드'].astype(int)
sg_code['기준_분기_코드'] = sg_code['기준_분기_코드'].astype(int)

In [13]:
# 결합용 대회 데이터, 상권데이터 => 확인

display(main_code.head(2)), display(sg_code.head(2))

   DATA_CRTR_YM            LT_UNQ_NO    상권_코드  STDG_EMD_CD  기준_분기_코드
0        202201  1111010100100030100        0     11110101         1
1        202201  1111010100100480000  2110011     11110101         1

,기준_년_코드,기준_분기_코드,상권_구분_코드,상권_구분_코드_명,상권_코드,상권_코드_명,월_평균_소득_금액,지출_총금액,식료품_지출_총금액,상권_변화_지표_명,...,남성 상주인구 수,여성 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,집객시설_수,법정동_코드
0,2022,4,A,골목상권,2110001,이북5도청사,4305934.0,520427635.0,129126028.0,상권확장,...,546.0,624.0,452.0,0.0,452.0,179890.0,77520.0,102371.0,12.0,11110182.0
1,2022,4,A,골목상권,2110002,독립문역 1번,3463885.0,232465205.0,54998987.0,정체,...,309.0,320.0,343.0,0.0,343.0,323459.0,147471.0,175987.0,18.0,11110187.0

(None, None)

In [14]:
# 결합용 대회 데이터, 상권데이터 => '상권_코드','기준_분기_코드'를 기준으로 merge
# 1차 결합된 데이터 => merged_df

merged_df = pd.merge(main_code, sg_code, on=['상권_코드', '기준_분기_코드'], how='left')
merged_df

,DATA_CRTR_YM,LT_UNQ_NO,상권_코드,STDG_EMD_CD,기준_분기_코드,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드_명,월_평균_소득_금액,...,남성 상주인구 수,여성 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,집객시설_수,법정동_코드
0,202201,1111010100100030100,0,11110101,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,202201,1111010100100480000,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,268.0,270.0,203.0,0.0,203.0,30830.0,15549.0,15280.0,1.0,11110101.0
2,202201,1111010100100590001,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,268.0,270.0,203.0,0.0,203.0,30830.0,15549.0,15280.0,1.0,11110101.0
3,202201,1111010100100590005,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,268.0,270.0,203.0,0.0,203.0,30830.0,15549.0,15280.0,1.0,11110101.0
4,202201,1111010100100690000,2110014,11110101,1,2022.0,A,골목상권,경복고등학교,5290159.0,...,429.0,502.0,464.0,0.0,464.0,51772.0,27384.0,24388.0,9.0,11110101.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156035,202212,1174011000106950000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156036,202212,1174011000106950000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156037,202212,1174011000106990000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156038,202212,1174011000107070000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1156039,202212,1174011000107270000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 법정동 merge

In [15]:
# 1차 결합 데이터 => 결합 이전 피처명 통일

merged_df = merged_df.rename(columns={'STDG_EMD_CD': '법정동_코드'})

In [16]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 26 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DATA_CRTR_YM  1156040 non-null  int64
 1   LT_UNQ_NO     1156040 non-null  int64
 2   상권_코드         1156040 non-null  int64
 3   법정동_코드        1156040 non-null  int64
 4   기준_분기_코드      1156040 non-null  int64
 5   기준_년_코드       946972 non-null   float64
 6   상권_구분_코드      946972 non-null   object
 7   상권_구분_코드_명    946972 non-null   object
 8   상권_코드_명       946972 non-null   object
 9   월_평균_소득_금액    945473 non-null   float64
 10  지출_총금액        938462 non-null   float64
 11  식료품_지출_총금액    938462 non-null   float64
 12  상권_변화_지표_명    946972 non-null   object
 13  운영_영업_개월_평균   946972 non-null   float64
 14  폐업_영업_개월_평균   946972 non-null   float64
 15  총 상주인구 수      945844 non-null   float64
 16  남성 상주인구 수     945844 non-null   float64
 17  여성 상주인구 수     945844 non-null   float64
 18  총 가구 수        945844 non-null   float64
 19  아파트 가구 수      945844 non-null   float64
 20  비 아파트 가구 수    945844 non-null   float64
 21  총_생활인구_수      946972 non-null   float64
 22  남성_생활인구_수     946972 non-null   float64
 23  여성_생활인구_수     946972 non-null   float64
 24  집객시설_수        939546 non-null   float64
 25  법정동_코드        946820 non-null   float64
dtypes: float64(17), int64(5), object(4)
memory usage: 238.1+ MB

In [17]:
# 상권데이터 => bub 변수에 저장

bub = sg_code.copy()

In [18]:
# 상권데이터 => 확인
bub.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6684 entries, 0 to 6683
Data columns (total 23 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   기준_년_코드      6684 non-null   int64
 1   기준_분기_코드     6684 non-null   int64
 2   상권_구분_코드     6684 non-null   object
 3   상권_구분_코드_명   6684 non-null   object
 4   상권_코드        6684 non-null   int64
 5   상권_코드_명      6684 non-null   object
 6   월_평균_소득_금액   6480 non-null   float64
 7   지출_총금액       6388 non-null   float64
 8   식료품_지출_총금액   6388 non-null   float64
 9   상권_변화_지표_명   6672 non-null   object
 10  운영_영업_개월_평균  6672 non-null   float64
 11  폐업_영업_개월_평균  6672 non-null   float64
 12  총 상주인구 수     6529 non-null   float64
 13  남성 상주인구 수    6529 non-null   float64
 14  여성 상주인구 수    6529 non-null   float64
 15  총 가구 수       6529 non-null   float64
 16  아파트 가구 수     6529 non-null   float64
 17  비 아파트 가구 수   6529 non-null   float64
 18  총_생활인구_수     6674 non-null   float64
 19  남성_생활인구_수    6674 non-null   float64
 20  여성_생활인구_수    6674 non-null   float64
 21  집객시설_수       6300 non-null   float64
 22  법정동_코드       6592 non-null   float64
dtypes: float64(16), int64(3), object(4)
memory usage: 1.2+ MB

In [19]:
merged_df.head(1)

,DATA_CRTR_YM,LT_UNQ_NO,상권_코드,법정동_코드,기준_분기_코드,기준_년_코드,상권_구분_코드,상권_구분_코드_명,상권_코드_명,월_평균_소득_금액,...,남성 상주인구 수,여성 상주인구 수,총 가구 수,아파트 가구 수,비 아파트 가구 수,총_생활인구_수,남성_생활인구_수,여성_생활인구_수,집객시설_수,법정동_코드
0,202201,1111010100100030100,0,11110101,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
# 중복된 법정동_코드 열 삭제(마지막 열)

merged_df = merged_df.iloc[:, :-1]

In [21]:
# 삭제 되었는지 확인

merged_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 25 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DATA_CRTR_YM  1156040 non-null  int64
 1   LT_UNQ_NO     1156040 non-null  int64
 2   상권_코드         1156040 non-null  int64
 3   법정동_코드        1156040 non-null  int64
 4   기준_분기_코드      1156040 non-null  int64
 5   기준_년_코드       946972 non-null   float64
 6   상권_구분_코드      946972 non-null   object
 7   상권_구분_코드_명    946972 non-null   object
 8   상권_코드_명       946972 non-null   object
 9   월_평균_소득_금액    945473 non-null   float64
 10  지출_총금액        938462 non-null   float64
 11  식료품_지출_총금액    938462 non-null   float64
 12  상권_변화_지표_명    946972 non-null   object
 13  운영_영업_개월_평균   946972 non-null   float64
 14  폐업_영업_개월_평균   946972 non-null   float64
 15  총 상주인구 수      945844 non-null   float64
 16  남성 상주인구 수     945844 non-null   float64
 17  여성 상주인구 수     945844 non-null   float64
 18  총 가구 수        945844 non-null   float64
 19  아파트 가구 수      945844 non-null   float64
 20  비 아파트 가구 수    945844 non-null   float64
 21  총_생활인구_수      946972 non-null   float64
 22  남성_생활인구_수     946972 non-null   float64
 23  여성_생활인구_수     946972 non-null   float64
 24  집객시설_수        939546 non-null   float64
dtypes: float64(16), int64(5), object(4)
memory usage: 229.3+ MB

In [22]:
merged_df['법정동_코드']

0          11110101
1          11110101
2          11110101
3          11110101
4          11110101
             ...
1156035    11740110
1156036    11740110
1156037    11740110
1156038    11740110
1156039    11740110
Name: 법정동_코드, Length: 1156040, dtype: int64

In [23]:
bub['법정동_코드']

0       11110182.0
1       11110187.0
2       11110186.0
3       11110181.0
4       11110186.0
           ...
6679           NaN
6680           NaN
6681           NaN
6682           NaN
6683           NaN
Name: 법정동_코드, Length: 6684, dtype: float64

In [24]:
# 상권데이터 => 법정동_코드, 기준_분기_코드를 기준으로 평균 집계

bub_new = bub.groupby(['법정동_코드', '기준_분기_코드']).mean().reset_index()

<ipython-input-24-520dade002ae>:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  bub_new = bub.groupby(['법정동_코드', '기준_분기_코드']).mean().reset_index()

In [25]:
# 1차 결합 데이터, 상권데이터 => 법정동_코드, 기준_분기_코드 기준으로 merge
# 2차 결합 데이터 => merged_df2

merged_df2 = pd.merge(merged_df, bub_new, on=['법정동_코드', '기준_분기_코드'], how='left')
merged_df2

,DATA_CRTR_YM,LT_UNQ_NO,상권_코드_x,법정동_코드,기준_분기_코드,기준_년_코드_x,상권_구분_코드,상권_구분_코드_명,상권_코드_명,월_평균_소득_금액_x,...,총 상주인구 수_y,남성 상주인구 수_y,여성 상주인구 수_y,총 가구 수_y,아파트 가구 수_y,비 아파트 가구 수_y,총_생활인구_수_y,남성_생활인구_수_y,여성_생활인구_수_y,집객시설_수_y
0,202201,1111010100100030100,0,11110101,1,NaN,NaN,NaN,NaN,NaN,...,734.5,348.5,386.0,333.5,0.0,333.5,41301.0,21466.5,19834.0,5.0
1,202201,1111010100100480000,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,734.5,348.5,386.0,333.5,0.0,333.5,41301.0,21466.5,19834.0,5.0
2,202201,1111010100100590001,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,734.5,348.5,386.0,333.5,0.0,333.5,41301.0,21466.5,19834.0,5.0
3,202201,1111010100100590005,2110011,11110101,1,2022.0,A,골목상권,청운초등학교,4350843.0,...,734.5,348.5,386.0,333.5,0.0,333.5,41301.0,21466.5,19834.0,5.0
4,202201,1111010100100690000,2110014,11110101,1,2022.0,A,골목상권,경복고등학교,5290159.0,...,734.5,348.5,386.0,333.5,0.0,333.5,41301.0,21466.5,19834.0,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1156035,202212,1174011000106950000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,1002.0,537.0,465.0,826.0,0.0,826.0,66951.0,33084.0,33867.0,22.0
1156036,202212,1174011000106950000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,1002.0,537.0,465.0,826.0,0.0,826.0,66951.0,33084.0,33867.0,22.0
1156037,202212,1174011000106990000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,1002.0,537.0,465.0,826.0,0.0,826.0,66951.0,33084.0,33867.0,22.0
1156038,202212,1174011000107070000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,1002.0,537.0,465.0,826.0,0.0,826.0,66951.0,33084.0,33867.0,22.0
1156039,202212,1174011000107270000,0,11740110,4,NaN,NaN,NaN,NaN,NaN,...,1002.0,537.0,465.0,826.0,0.0,826.0,66951.0,33084.0,33867.0,22.0

In [26]:
# forfinal_df 변수에 2차 결합 데이터 저장

forfinal_df = merged_df2

In [27]:
forfinal_df.shape

(1156040, 42)

In [28]:
forfinal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 42 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DATA_CRTR_YM   1156040 non-null  int64
 1   LT_UNQ_NO      1156040 non-null  int64
 2   상권_코드_x        1156040 non-null  int64
 3   법정동_코드         1156040 non-null  int64
 4   기준_분기_코드       1156040 non-null  int64
 5   기준_년_코드_x      946972 non-null   float64
 6   상권_구분_코드       946972 non-null   object
 7   상권_구분_코드_명     946972 non-null   object
 8   상권_코드_명        946972 non-null   object
 9   월_평균_소득_금액_x   945473 non-null   float64
 10  지출_총금액_x       938462 non-null   float64
 11  식료품_지출_총금액_x   938462 non-null   float64
 12  상권_변화_지표_명     946972 non-null   object
 13  운영_영업_개월_평균_x  946972 non-null   float64
 14  폐업_영업_개월_평균_x  946972 non-null   float64
 15  총 상주인구 수_x     945844 non-null   float64
 16  남성 상주인구 수_x    945844 non-null   float64
 17  여성 상주인구 수_x    945844 non-null   float64
 18  총 가구 수_x       945844 non-null   float64
 19  아파트 가구 수_x     945844 non-null   float64
 20  비 아파트 가구 수_x   945844 non-null   float64
 21  총_생활인구_수_x     946972 non-null   float64
 22  남성_생활인구_수_x    946972 non-null   float64
 23  여성_생활인구_수_x    946972 non-null   float64
 24  집객시설_수_x       939546 non-null   float64
 25  기준_년_코드_y      1101874 non-null  float64
 26  상권_코드_y        1101874 non-null  float64
 27  월_평균_소득_금액_y   1100847 non-null  float64
 28  지출_총금액_y       1098859 non-null  float64
 29  식료품_지출_총금액_y   1098859 non-null  float64
 30  운영_영업_개월_평균_y  1101874 non-null  float64
 31  폐업_영업_개월_평균_y  1101874 non-null  float64
 32  총 상주인구 수_y     1100847 non-null  float64
 33  남성 상주인구 수_y    1100847 non-null  float64
 34  여성 상주인구 수_y    1100847 non-null  float64
 35  총 가구 수_y       1100847 non-null  float64
 36  아파트 가구 수_y     1100847 non-null  float64
 37  비 아파트 가구 수_y   1100847 non-null  float64
 38  총_생활인구_수_y     1101756 non-null  float64
 39  남성_생활인구_수_y    1101756 non-null  float64
 40  여성_생활인구_수_y    1101756 non-null  float64
 41  집객시설_수_y       1097480 non-null  float64
dtypes: float64(33), int64(5), object(4)
memory usage: 379.3+ MB

In [29]:
# 2차 결합 데이터 => 중복된 피처(x,y) => x의 null값에 y의 값을 채워줌

for column in forfinal_df.columns:
    if column.endswith('_x'):
        corresponding_column = column.replace('_x', '_y')
        forfinal_df[column].fillna(forfinal_df[corresponding_column], inplace=True)

forfinal_df[['총 상주인구 수_x', '총 상주인구 수_y']]

         총 상주인구 수_x  총 상주인구 수_y
0             734.5       734.5
1             538.0       734.5
2             538.0       734.5
3             538.0       734.5
4             931.0       734.5
...             ...         ...
1156035      1002.0      1002.0
1156036      1002.0      1002.0
1156037      1002.0      1002.0
1156038      1002.0      1002.0
1156039      1002.0      1002.0

[1156040 rows x 2 columns]

In [30]:
forfinal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 42 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DATA_CRTR_YM   1156040 non-null  int64
 1   LT_UNQ_NO      1156040 non-null  int64
 2   상권_코드_x        1156040 non-null  int64
 3   법정동_코드         1156040 non-null  int64
 4   기준_분기_코드       1156040 non-null  int64
 5   기준_년_코드_x      1147230 non-null  float64
 6   상권_구분_코드       946972 non-null   object
 7   상권_구분_코드_명     946972 non-null   object
 8   상권_코드_명        946972 non-null   object
 9   월_평균_소득_금액_x   1146213 non-null  float64
 10  지출_총금액_x       1144524 non-null  float64
 11  식료품_지출_총금액_x   1144524 non-null  float64
 12  상권_변화_지표_명     946972 non-null   object
 13  운영_영업_개월_평균_x  1147230 non-null  float64
 14  폐업_영업_개월_평균_x  1147230 non-null  float64
 15  총 상주인구 수_x     1146243 non-null  float64
 16  남성 상주인구 수_x    1146243 non-null  float64
 17  여성 상주인구 수_x    1146243 non-null  float64
 18  총 가구 수_x       1146243 non-null  float64
 19  아파트 가구 수_x     1146243 non-null  float64
 20  비 아파트 가구 수_x   1146243 non-null  float64
 21  총_생활인구_수_x     1147112 non-null  float64
 22  남성_생활인구_수_x    1147112 non-null  float64
 23  여성_생활인구_수_x    1147112 non-null  float64
 24  집객시설_수_x       1146058 non-null  float64
 25  기준_년_코드_y      1101874 non-null  float64
 26  상권_코드_y        1101874 non-null  float64
 27  월_평균_소득_금액_y   1100847 non-null  float64
 28  지출_총금액_y       1098859 non-null  float64
 29  식료품_지출_총금액_y   1098859 non-null  float64
 30  운영_영업_개월_평균_y  1101874 non-null  float64
 31  폐업_영업_개월_평균_y  1101874 non-null  float64
 32  총 상주인구 수_y     1100847 non-null  float64
 33  남성 상주인구 수_y    1100847 non-null  float64
 34  여성 상주인구 수_y    1100847 non-null  float64
 35  총 가구 수_y       1100847 non-null  float64
 36  아파트 가구 수_y     1100847 non-null  float64
 37  비 아파트 가구 수_y   1100847 non-null  float64
 38  총_생활인구_수_y     1101756 non-null  float64
 39  남성_생활인구_수_y    1101756 non-null  float64
 40  여성_생활인구_수_y    1101756 non-null  float64
 41  집객시설_수_y       1097480 non-null  float64
dtypes: float64(33), int64(5), object(4)
memory usage: 379.3+ MB

In [31]:
# 2차 결합 데이터 => '_y'로 끝나는 피처 제거

for column in forfinal_df.columns:
    if column.endswith('_y'):
        forfinal_df.drop(column, axis=1, inplace=True)
forfinal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 25 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   DATA_CRTR_YM   1156040 non-null  int64
 1   LT_UNQ_NO      1156040 non-null  int64
 2   상권_코드_x        1156040 non-null  int64
 3   법정동_코드         1156040 non-null  int64
 4   기준_분기_코드       1156040 non-null  int64
 5   기준_년_코드_x      1147230 non-null  float64
 6   상권_구분_코드       946972 non-null   object
 7   상권_구분_코드_명     946972 non-null   object
 8   상권_코드_명        946972 non-null   object
 9   월_평균_소득_금액_x   1146213 non-null  float64
 10  지출_총금액_x       1144524 non-null  float64
 11  식료품_지출_총금액_x   1144524 non-null  float64
 12  상권_변화_지표_명     946972 non-null   object
 13  운영_영업_개월_평균_x  1147230 non-null  float64
 14  폐업_영업_개월_평균_x  1147230 non-null  float64
 15  총 상주인구 수_x     1146243 non-null  float64
 16  남성 상주인구 수_x    1146243 non-null  float64
 17  여성 상주인구 수_x    1146243 non-null  float64
 18  총 가구 수_x       1146243 non-null  float64
 19  아파트 가구 수_x     1146243 non-null  float64
 20  비 아파트 가구 수_x   1146243 non-null  float64
 21  총_생활인구_수_x     1147112 non-null  float64
 22  남성_생활인구_수_x    1147112 non-null  float64
 23  여성_생활인구_수_x    1147112 non-null  float64
 24  집객시설_수_x       1146058 non-null  float64
dtypes: float64(16), int64(5), object(4)
memory usage: 229.3+ MB

In [32]:
# 2차 결합 데이터 => 피처명에서 '_x' 제거

for column in forfinal_df.columns:
    if column.endswith('_x'):
        new_column_name = column[:-2]  # '_x'를 제거
        forfinal_df.rename(columns={column: new_column_name}, inplace=True)
forfinal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 25 columns):
 #   Column        Non-Null Count    Dtype
---  ------        --------------    -----
 0   DATA_CRTR_YM  1156040 non-null  int64
 1   LT_UNQ_NO     1156040 non-null  int64
 2   상권_코드         1156040 non-null  int64
 3   법정동_코드        1156040 non-null  int64
 4   기준_분기_코드      1156040 non-null  int64
 5   기준_년_코드       1147230 non-null  float64
 6   상권_구분_코드      946972 non-null   object
 7   상권_구분_코드_명    946972 non-null   object
 8   상권_코드_명       946972 non-null   object
 9   월_평균_소득_금액    1146213 non-null  float64
 10  지출_총금액        1144524 non-null  float64
 11  식료품_지출_총금액    1144524 non-null  float64
 12  상권_변화_지표_명    946972 non-null   object
 13  운영_영업_개월_평균   1147230 non-null  float64
 14  폐업_영업_개월_평균   1147230 non-null  float64
 15  총 상주인구 수      1146243 non-null  float64
 16  남성 상주인구 수     1146243 non-null  float64
 17  여성 상주인구 수     1146243 non-null  float64
 18  총 가구 수        1146243 non-null  float64
 19  아파트 가구 수      1146243 non-null  float64
 20  비 아파트 가구 수    1146243 non-null  float64
 21  총_생활인구_수      1147112 non-null  float64
 22  남성_생활인구_수     1147112 non-null  float64
 23  여성_생활인구_수     1147112 non-null  float64
 24  집객시설_수        1146058 non-null  float64
dtypes: float64(16), int64(5), object(4)
memory usage: 229.3+ MB

In [33]:
forfinal_df = forfinal_df.rename(columns={'월_평균_소득_금액': '상권_월_평균_소득_금액'})
forfinal_df = forfinal_df.rename(columns={'지출_총금액': '상권_지출_총금액'})
forfinal_df = forfinal_df.rename(columns={'식료품_지출_총금액': '상권_식료품_지출_총금액'})

forfinal_df = forfinal_df.rename(columns={'운영_영업_개월_평균': '상권_운영_영업_개월_평균'})
forfinal_df = forfinal_df.rename(columns={'폐업_영업_개월_평균': '상권_폐업_영업_개월_평균'})

forfinal_df = forfinal_df.rename(columns={'총 상주인구 수': '상권_총 상주인구 수'})
forfinal_df = forfinal_df.rename(columns={'남성 상주인구 수': '상권_남성 상주인구 수 '})
forfinal_df = forfinal_df.rename(columns={'여성 상주인구 수': '상권_여성 상주인구 수 '})

forfinal_df = forfinal_df.rename(columns={'총 가구 수': '상권_총 가구 수'})
forfinal_df = forfinal_df.rename(columns={'아파트 가구 수': '상권_아파트 가구 수'})
forfinal_df = forfinal_df.rename(columns={'비 아파트 가구 수': '상권_비 아파트 가구 수'})

forfinal_df = forfinal_df.rename(columns={'총_생활인구_수': '상권_총_생활인구_수'})
forfinal_df = forfinal_df.rename(columns={'남성_생활인구_수': '상권_남성_생활인구_수'})
forfinal_df = forfinal_df.rename(columns={'여성_생활인구_수': '상권_여성_생활인구_수'})
forfinal_df = forfinal_df.rename(columns={'집객시설_수': '상권_집객시설_수'})

In [34]:
forfinal_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1156040 entries, 0 to 1156039
Data columns (total 25 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DATA_CRTR_YM    1156040 non-null  int64
 1   LT_UNQ_NO       1156040 non-null  int64
 2   상권_코드           1156040 non-null  int64
 3   법정동_코드          1156040 non-null  int64
 4   기준_분기_코드        1156040 non-null  int64
 5   기준_년_코드         1147230 non-null  float64
 6   상권_구분_코드        946972 non-null   object
 7   상권_구분_코드_명      946972 non-null   object
 8   상권_코드_명         946972 non-null   object
 9   상권_월_평균_소득_금액   1146213 non-null  float64
 10  상권_지출_총금액       1144524 non-null  float64
 11  상권_식료품_지출_총금액   1144524 non-null  float64
 12  상권_변화_지표_명      946972 non-null   object
 13  상권_운영_영업_개월_평균  1147230 non-null  float64
 14  상권_폐업_영업_개월_평균  1147230 non-null  float64
 15  상권_총 상주인구 수     1146243 non-null  float64
 16  상권_남성 상주인구 수    1146243 non-null  float64
 17  상권_여성 상주인구 수    1146243 non-null  float64
 18  상권_총 가구 수       1146243 non-null  float64
 19  상권_아파트 가구 수     1146243 non-null  float64
 20  상권_비 아파트 가구 수   1146243 non-null  float64
 21  상권_총_생활인구_수     1147112 non-null  float64
 22  상권_남성_생활인구_수    1147112 non-null  float64
 23  상권_여성_생활인구_수    1147112 non-null  float64
 24  상권_집객시설_수       1146058 non-null  float64
dtypes: float64(16), int64(5), object(4)
memory usage: 229.3+ MB

In [35]:
forfinal_df[['LT_UNQ_NO','상권_변화_지표_명' ]]

                   LT_UNQ_NO 상권_변화_지표_명
0        1111010100100030100        NaN
1        1111010100100480000       상권확장
2        1111010100100590001       상권확장
3        1111010100100590005       상권확장
4        1111010100100690000       상권확장
...                      ...        ...
1156035  1174011000106950000        NaN
1156036  1174011000106950000        NaN
1156037  1174011000106990000        NaN
1156038  1174011000107070000        NaN
1156039  1174011000107270000        NaN

[1156040 rows x 2 columns]

In [36]:
#forfinal_df.to_csv('/content/drive/MyDrive/머신러닝/ML_팀프로젝트/이기찬_결합1.csv')